.creations-container {
    margin-top: 3.25rem;
    text-align: center;
    ul {
        list-style: none;
        li {
            .creation-item {
                position: relative;
            }
            .creation-item_bg {
                box-shadow: inset 250px 0 100px -100px rgba(0, 0, 0, 0.5);
                margin-bottom: 1.5rem;
                height: 8rem;
                position: relative;
            }
            h4 {
                color: $White;
                font-size: 1.55rem;
                font-weight: initial;
                position: absolute;
                bottom: 1.25rem;
                text-align: initial;
                left: 1.25rem;
                bottom: 1.25rem;
            }
            &:first-of-type .creation-item_bg {
                background: url(/assets/images/mobile/image-deep-earth.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-of-type(2) .creation-item_bg {
                background: url(/assets/images/mobile/image-night-arcade.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-of-type(3) .creation-item_bg {
                background: url(/assets/images/mobile/image-soccer-team.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-of-type(4) .creation-item_bg {
                background: url(/assets/images/mobile/image-grid.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-of-type(5) .creation-item_bg {
                background: url(/assets/images/mobile/image-from-above.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-of-type(6) .creation-item_bg {
                background: url(/assets/images/mobile/image-pocket-borealis.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-of-type(7) .creation-item_bg {
                background: url(/assets/images/mobile/image-curiosity.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-of-type(8) .creation-item_bg {
                background: url(/assets/images/mobile/image-fisheye.jpg) no-repeat;
                background-size: cover;
                margin: 0;
            }
            a:hover .creation-item {
                h4 {
                    color: $Black;
                }
                .creation-item_bg {
                    box-shadow: none;
                    opacity: .3;
                    transition: .2s;
                }
            }
        }
    }
}

.creation-see-all {
    border: 1px solid $Black;
    text-decoration: none;
    color: $Black;
    text-transform: uppercase;
    font-size: .85rem;
    padding: .75em 3em;
    margin-top: 2rem;
    display: inline-block;
    letter-spacing: .4em;
    transition: .2s;
    &:hover {
        background: $Black;
        color: $White;
    }
}