.hamburger-btn {
    background: url(/assets/images/icon-hamburger.svg) no-repeat;
    background-position: center;
    border: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    outline: none;
}