header {
    position: absolute;
    padding: 2.5rem 0;
    width: 100%;
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            display: flex;
            img {
                height: 1.6rem;
            }
        }
    }
}