@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
.footer-padding {
  background: black;
  padding: 3.5rem 0;
}

.footer-padding .footer-container {
  text-align: center;
}

.footer-padding .footer-container .footer-upper img {
  height: 1.6rem;
}

.footer-padding .footer-container .footer-upper .footer-links {
  list-style: none;
  margin: 2rem 0 3rem;
}

.footer-padding .footer-container .footer-upper .footer-links li {
  margin-bottom: 1.25rem;
}

.footer-padding .footer-container .footer-upper .footer-links li a {
  text-decoration: none;
  color: white;
}

.footer-padding .footer-container .footer-lower .social-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-padding .footer-container .footer-lower .social-links li {
  margin: 0 .5rem;
}

.footer-padding .footer-container .footer-lower span {
  color: dimgray;
  margin-top: 1rem;
  display: inline-block;
}

.attribution {
  text-align: center;
  color: dimgray;
}

.attribution a {
  color: #3e52a3;
}

.attribution--desktop {
  display: none;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .footer-container {
    text-align: initial !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-container .footer-lower {
    text-align: right;
  }
  .footer-container .footer-lower .social-links {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
  }
  .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0 0 0 !important;
  }
  .footer-links li {
    margin: 0 .5rem !important;
  }
  .footer-links li:first-of-type {
    margin-left: 0 !important;
  }
  .attribution {
    display: none;
  }
  .attribution--desktop {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .footer-links li {
    margin: 0 1.25rem;
  }
}

html {
  font-size: 15px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}

.wide-container {
  width: 88%;
  margin: 0 auto;
  max-width: 74rem;
}

.slider-hover {
  position: relative;
}

.slider-hover::after {
  content: "";
  background-color: white;
  height: 2px;
  left: 0;
  position: absolute;
  top: 110%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  width: 100%;
}

.slider-hover:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header {
  position: absolute;
  padding: 2.5rem 0;
  width: 100%;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-container a img {
  height: 1.6rem;
}

@media screen and (min-width: 768px) {
  .header-container a img {
    height: initial !important;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 4.5rem 0;
  }
}

.hero-image {
  background: url(/assets/images/mobile/image-hero.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 43.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-image .hero-text {
  border: 2px solid white;
  padding: 1.5rem;
}

.hero-image .hero-text h1 {
  color: white;
  font-weight: initial;
  font-size: 2.5rem;
}

@media screen and (max-width: 360px) {
  .hero-image .hero-text h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .hero-image {
    background: url(/assets/images/desktop/image-hero.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-image .hero-image-overlay {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-image .hero-image-overlay .hero-text h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-image .hero-image-overlay .hero-text {
    width: 60%;
    padding: 2.5rem;
    position: relative;
    top: 2.75rem;
  }
  .hero-image .hero-image-overlay .hero-text h1 {
    font-size: 4.5rem;
  }
}

.hamburger-btn {
  background: url(/assets/images/icon-hamburger.svg) no-repeat;
  background-position: center;
  border: none;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  outline: none;
}

.hamburger-btn--close {
  background: url(/assets/images/icon-close.svg) no-repeat;
  background-position: center;
}

.nav-links {
  position: fixed;
  top: 0;
  left: 100%;
  -webkit-transition: left .3s ease;
  transition: left .3s ease;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: black;
  padding: 2.5rem 1.5rem;
  z-index: 9;
}

.nav-links .nav-links-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav-links nav {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.nav-links nav ul {
  list-style: none;
}

.nav-links nav ul li {
  margin-bottom: 1.5rem;
}

.nav-links nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  display: inline-block;
}

.open {
  left: 0;
}

@media screen and (min-width: 768px) {
  .nav-links {
    padding: 2.5rem 2.5rem;
  }
  .nav-links nav ul li a {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .hamburger-btn {
    display: none;
  }
  .nav-links {
    left: initial;
    position: initial;
    top: initial;
    -webkit-transition: left .3s ease;
    transition: left .3s ease;
    height: initial;
    width: initial;
    display: initial;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    background: initial;
    padding: initial;
    z-index: initial;
  }
  .nav-links .nav-links-header {
    display: none;
  }
  .nav-links nav {
    -webkit-transform: initial;
            transform: initial;
  }
  .nav-links nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .nav-links nav ul li {
    margin: 0 1.25rem;
  }
  .nav-links nav ul li a {
    font-size: 1rem;
    text-transform: initial;
    font-family: 'Alata', sans-serif;
  }
  .nav-links nav ul li:last-of-type {
    margin: 0 0 0 1.25rem;
  }
}

.main-padding {
  padding: 6.25rem 0;
}

.main-padding .section-padding--bottom {
  padding-bottom: 2.75rem;
}

.main-padding .section-padding--bottom .interactive-content {
  padding: 2.75rem 0;
  text-align: center;
}

.main-padding .section-padding--bottom .interactive-content p {
  padding: 0 1rem;
  margin: 1rem 0;
  color: #8c8c8c;
  line-height: 1.7;
}

.main-padding .section-padding--top .creations-header .creation-see-all {
  display: none;
}

.main-padding .creations-header {
  text-align: center;
}

.mobile-interactive {
  width: 100%;
}

h2,
h3 {
  font-size: 2.15rem;
  font-weight: initial;
}

.desktop-interactive {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-interactive {
    display: none;
  }
  .desktop-interactive {
    display: initial;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  h2,
  h3 {
    font-size: 3.25rem;
  }
  .main-padding {
    padding: 10.75rem 0;
  }
  .desktop-interactive {
    width: initial;
  }
  .section-padding--bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 12.25rem !important;
  }
  .section-padding--bottom .interactive-content {
    padding: 6rem 0 0 6rem !important;
    margin-left: -14rem;
    background: white;
    min-height: 19rem;
    text-align: initial !important;
  }
  .section-padding--bottom .interactive-content p {
    padding: 0 !important;
    margin: 2rem 0 0 !important;
  }
  .section-padding--top .creations-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-padding--top .creations-header .creation-see-all {
    display: initial !important;
    margin: 0;
  }
}

@media screen and (min-width: 1265px) {
  .section-padding--bottom .interactive-content {
    margin-left: -10.75rem;
  }
}

.creations-container {
  margin-top: 3.25rem;
  text-align: center;
}

.creations-container ul {
  list-style: none;
}

.creations-container ul li .creation-item {
  position: relative;
}

.creations-container ul li .creation-item_bg {
  -webkit-box-shadow: inset 250px 0 100px -100px rgba(0, 0, 0, 0.5);
          box-shadow: inset 250px 0 100px -100px rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
  height: 8rem;
  position: relative;
}

.creations-container ul li h4 {
  color: white;
  font-size: 1.55rem;
  font-weight: initial;
  position: absolute;
  bottom: 1.25rem;
  text-align: initial;
  left: 1.25rem;
  bottom: 1.25rem;
}

.creations-container ul li:first-of-type .creation-item_bg {
  background: url(/assets/images/mobile/image-deep-earth.jpg) no-repeat;
  background-size: cover;
}

.creations-container ul li:nth-of-type(2) .creation-item_bg {
  background: url(/assets/images/mobile/image-night-arcade.jpg) no-repeat;
  background-size: cover;
}

.creations-container ul li:nth-of-type(3) .creation-item_bg {
  background: url(/assets/images/mobile/image-soccer-team.jpg) no-repeat;
  background-size: cover;
}

.creations-container ul li:nth-of-type(4) .creation-item_bg {
  background: url(/assets/images/mobile/image-grid.jpg) no-repeat;
  background-size: cover;
}

.creations-container ul li:nth-of-type(5) .creation-item_bg {
  background: url(/assets/images/mobile/image-from-above.jpg) no-repeat;
  background-size: cover;
}

.creations-container ul li:nth-of-type(6) .creation-item_bg {
  background: url(/assets/images/mobile/image-pocket-borealis.jpg) no-repeat;
  background-size: cover;
}

.creations-container ul li:nth-of-type(7) .creation-item_bg {
  background: url(/assets/images/mobile/image-curiosity.jpg) no-repeat;
  background-size: cover;
}

.creations-container ul li:nth-of-type(8) .creation-item_bg {
  background: url(/assets/images/mobile/image-fisheye.jpg) no-repeat;
  background-size: cover;
  margin: 0;
}

.creations-container ul li a:hover .creation-item h4 {
  color: black;
}

.creations-container ul li a:hover .creation-item .creation-item_bg {
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .3;
  -webkit-transition: .2s;
  transition: .2s;
}

.creation-see-all {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: .85rem;
  padding: .75em 3em;
  margin-top: 2rem;
  display: inline-block;
  letter-spacing: .4em;
  -webkit-transition: .2s;
  transition: .2s;
}

.creation-see-all:hover {
  background: black;
  color: white;
}

@media screen and (min-width: 768px) {
  .creations-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 0 1.5rem;
  }
  .creations-container ul li .creation-item_bg {
    height: 24rem;
    -webkit-box-shadow: inset 0 -250px 100px -100px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 -250px 100px -100px rgba(0, 0, 0, 0.5);
  }
  .creations-container ul li:first-of-type .creation-item_bg {
    background: url(/assets/images/desktop/image-deep-earth.jpg) no-repeat;
    background-size: cover;
  }
  .creations-container ul li:nth-of-type(2) .creation-item_bg {
    background: url(/assets/images/desktop/image-night-arcade.jpg) no-repeat;
    background-size: cover;
  }
  .creations-container ul li:nth-of-type(3) .creation-item_bg {
    background: url(/assets/images/desktop/image-soccer-team.jpg) no-repeat;
    background-size: cover;
  }
  .creations-container ul li:nth-of-type(4) .creation-item_bg {
    background: url(/assets/images/desktop/image-grid.jpg) no-repeat;
    background-size: cover;
  }
  .creations-container ul li:nth-of-type(5) .creation-item_bg {
    background: url(/assets/images/desktop/image-from-above.jpg) no-repeat;
    background-size: cover;
  }
  .creations-container ul li:nth-of-type(6) .creation-item_bg {
    background: url(/assets/images/desktop/image-pocket-borealis.jpg) no-repeat;
    background-size: cover;
  }
  .creations-container ul li:nth-of-type(7) .creation-item_bg {
    background: url(/assets/images/desktop/image-curiosity.jpg) no-repeat;
    background-size: cover;
    margin: 0;
  }
  .creations-container ul li:nth-of-type(8) .creation-item_bg {
    background: url(/assets/images/desktop/image-fisheye.jpg) no-repeat;
    background-size: cover;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .creations-container {
    margin-top: 5.25rem;
  }
  .creations-container ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 0 2rem;
  }
  .creations-container ul li .creation-item_bg {
    margin-bottom: 2rem;
    height: 30rem;
    -webkit-box-shadow: inset 0 -350px 100px -150px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 -350px 100px -150px rgba(0, 0, 0, 0.4);
  }
  .creations-container ul li h4 {
    font-size: 2rem;
  }
  .creations-container ul li:nth-of-type(5) .creation-item_bg {
    background: url(/assets/images/desktop/image-from-above.jpg) no-repeat;
    background-size: cover;
    margin: 0;
  }
  .creations-container ul li:nth-of-type(6) .creation-item_bg {
    background: url(/assets/images/desktop/image-pocket-borealis.jpg) no-repeat;
    background-size: cover;
    margin: 0;
  }
  .creations-container .creation-see-all {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .creations-container ul li h4 {
    left: 2.75rem;
    bottom: 2.25rem;
  }
}
/*# sourceMappingURL=styles.css.map */